# Hotel Reviews Sentiment Analysis

# Worked on it on 23 Aug 2021

In [1]:
import os
dir_path='.'
os.chdir(dir_path)

In [1]:
import pandas as pd
df=pd.read_csv("train_hotel.csv")

In [2]:
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [3]:
df.shape

(38932, 5)

In [4]:
df["Is_Response"].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [5]:
dict={"not happy":0, "happy":1}

In [6]:
df["Is_Response"]=df["Is_Response"].map(dict)

In [7]:
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,0
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,0
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,0
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,1
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,0

In [8]:
df1=df[["Description","Is_Response"]]

In [9]:
df1

                                             Description  Is_Response
0      The room was kind of clean but had a VERY stro...            0
1      I stayed at the Crown Plaza April -- - April -...            0
2      I booked this hotel through Hotwire at the low...            0
3      Stayed here with husband and sons on the way t...            1
4      My girlfriends and I stayed here to celebrate ...            0
...                                                  ...          ...
38927  We arrived late at night and walked in to a ch...            1
38928  The only positive impression is location and p...            0
38929  Traveling with friends for shopping and a show...            0
38930  The experience was just ok. We paid extra for ...            0
38931  The Westin is a wonderfully restored grande da...            1

[38932 rows x 2 columns]

In [10]:
df2=df1.head(1000)

In [11]:
df2.head()

                                         Description  Is_Response
0  The room was kind of clean but had a VERY stro...            0
1  I stayed at the Crown Plaza April -- - April -...            0
2  I booked this hotel through Hotwire at the low...            0
3  Stayed here with husband and sons on the way t...            1
4  My girlfriends and I stayed here to celebrate ...            0

In [12]:
# Tokenization of paragraphs/sentences
import nltk

In [13]:
#Cleaning the text
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
#from nltk.stem import WordNetLemmatizer

ps=PorterStemmer()
corpus=[]
for i in range(len(df2)):
    review=re.sub('[^a-zA-Z]',' ',df2["Description"][i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if word not in set(stopwords.words("English"))]
    review=' '.join(review)
    corpus.append(review)

In [18]:
corpus[999]

'enjoy hotel much great place stay money room clean newli remodel surpris fridg also microwav room concid pay best thing wonder pillow hard time sleep home slept like babi pillow even ask could purchas pillow check manag nice check housekeep see kind room abl purchas new pillow wish purchas back time sleep good home tell friend great pillow stay hotel ever travel san diego'

In [37]:
# Creating bag of words
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=2500) # out of 6296, we will take top 2500 frequent
X=cv.fit_transform(corpus).toarray()

In [25]:
# Train test split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test=train_test_split(X, df2["Is_Response"], test_size=0.20, random_state=0)

In [26]:
# training model using Naive bayes classifier

from sklearn.naive_bayes import MultinomialNB
spm_model=MultinomialNB().fit(X_train,y_train)

y_pred=spm_model.predict(X_test)

from sklearn.metrics import confusion_matrix

conf=confusion_matrix(y_test,y_pred)

from sklearn.metrics import accuracy_score

acc=accuracy_score(y_test,y_pred)

In [27]:
print(conf)
print(acc)

[[ 51  17]
 [ 13 119]]
0.85

In [60]:
# new data

exaple=["I am sad and angry"]
test1=cv.transform(exaple).toarray()

In [61]:
result=spm_model.predict(test1)

In [62]:
print(result)

[1]